.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.button {
  margin-bottom: 4px;
}

.instructions-container{
  margin: 100px 0px;
}

.header-lg{
  font-size: 35px;
  font-weight: 300;
  margin: 20px;
}

.center-text{
  text-align: center;
}

.grid{
  display: flex;
  flex-wrap: wrap;
}

.container-sm{
  width: 80%;
  margin: 0px auto;
}

.battle-instructions{
  padding: 0px;
  font-size: 25px;
}

li{
  list-style-type: none;
}

.battle-instructions li{
  flex: 1 1 0%;
  min-width: 300px;
}

.header-sm{
  font-size: 28px;
  font-weight: 300;
  margin: 10px;
}

.bg-light{
  background: rgba(0, 0, 0, 0.08);
  border-radius: 3px;
}

span ::ng-deep svg {
  padding: 40px;
  border-radius: 3px;
}

.notfound {
  text-align: center;
}

.badge {
  margin-right: 6px;
}

.img-thumbnail {
  border-radius: 50%;
}

mat-chip {
  min-height: 10px;
}