<div class="container searchPadding">
  <div class="instructions-container">
    <h1 class="center-text header-lg">Instructions</h1>
    <ol class="container-sm grid center-text battle-instructions">
      <li>
        <h3 class="header-sm">Enter two Github users</h3>
        <span class="svg" [inlineSVG]="'../../assets/svg/icon1.svg'"></span>
      </li>
      <li>
        <h3 class="header-sm">Battle</h3>
        <span class="svg" [inlineSVG]="'../../assets/svg/icon2.svg'"></span>
      </li>
      <li>
        <h3 class="header-sm">See the winner</h3>
        <span class="svg" [inlineSVG]="'../../assets/svg/icon3.svg'"></span>
      </li>
    </ol>
  </div>
  <form class="example-form" name="example-form" (ngSubmit)="findProfiles()" [formGroup]="playerForm">
    <mat-form-field class="example-full-width">
      <mat-label>Player1</mat-label>
      <input matInput name="input" formControlName="player1Name" placeholder="github username">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Player2</mat-label>
      <input matInput name="input" formControlName="player2Name" placeholder="github username">
    </mat-form-field>
    <button class="button" mat-flat-button color="primary" [disabled]="!playerForm.valid" *ngIf="!show">Submit</button>
  </form>
  <button class="button" mat-flat-button color="primary" (click)="resetForm()" *ngIf="show">Reset </button>
</div>
<br>

<div class="container border" *ngIf="show && (!player1 || !player2)">
  <h5 class="notfound">User(s) not found.</h5>
</div>

<div class="container" *ngIf="show && player1 && player2">
  <div class="card shadow p-3 mb-5 bg-white rounded">
    <h5 class="card-header card-header shadow-sm p-3 mb-5 rounded" *ngIf="score1 > score2">{{player1.name}}
      <small>({{player1.login}})</small>
      <h5 class="header-lg center-text">Winner
        <class [inlineSVG]="'../../assets/svg/crown.svg'"></class>
      </h5>
    </h5>
    <h5 class="card-header card-header shadow-sm p-3 mb-5 rounded" *ngIf="score1 < score2">{{player1.name}}
      <small>({{player1.login}})</small>
      <h5 class="header-lg center-text">Loser</h5>
    </h5>
    <h5 class="card-header card-header shadow-sm p-3 mb-5 rounded" *ngIf="score1 == score2">{{player1.name}}
      <small>({{player1.login}})</small>
      <h5 class="header-lg center-text">Tie</h5>
    </h5>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <img src="{{player1.avatar_url}}" class="img-thumbnail img-fluid" alt="img">
          <hr>

          <h3 class="card-header"><small>Score: {{score1}}</small></h3>
          <a href="{{player1.html_url}}" class="btn btn-outline-success btn-block" target="_blank"> GitHub Profile</a>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <span class="badge badge-primary">{{player1.followers}} Followers</span>
          <span class="badge badge-secondary">{{player1.following}} Following</span>
          <span class="badge badge-success">{{player1.public_gists}} Public Gists</span>
          <span class="badge badge-info">{{player1.public_repos}} Public Repos</span>
          <hr>

          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngIf="player1.name">Name: {{player1.name}}</li>
              <li class="list-group-item" *ngIf="player1.location">Lives in: {{player1.location}}</li>
              <li class="list-group-item" *ngIf="player1.blog">Blog: {{player1.blog}}</li>
              <li class="list-group-item" *ngIf="player1.company">Company: {{player1.company}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card shadow p-3 mb-5 bg-white rounded">
    <h5 class="card-header shadow-sm p-3 mb-5 rounded" *ngIf="score1 < score2">{{player2.name}}
      <small>({{player2.login}})</small>
      <h5 class="header-lg center-text">Winner
        <class [inlineSVG]="'../../assets/svg/crown.svg'"></class>
      </h5>
    </h5>
    <h5 class="card-header shadow-sm p-3 mb-5 rounded" *ngIf="score1 > score2">{{player2.name}}
      <small>({{player2.login}})</small>
      <h5 class="header-lg center-text">Loser</h5>
    </h5>
    <h5 class="card-header card-header shadow-sm p-3 mb-5 rounded" *ngIf="score1 == score2">{{player2.name}}
      <small>({{player2.login}})</small>
      <h5 class="header-lg center-text">Tie</h5>
    </h5>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <img src="{{player2.avatar_url}}" class="img-thumbnail img-fluid" alt="img">
          <hr>

          <h3 class="card-header"><small>Score: {{score2}}</small></h3>
          <a href="{{player2.html_url}}" class="btn btn-outline-success btn-block" target="_blank"> GitHub Profile</a>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <span class="badge badge-primary">{{player2.followers}} Followers</span>
          <span class="badge badge-secondary">{{player2.following}} Following</span>
          <span class="badge badge-success">{{player2.public_gists}} Public Gists</span>
          <span class="badge badge-info">{{player2.public_repos}} Public Repos</span>
          <hr>

          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngIf="player2.name">Name: {{player2.name}}</li>
              <li class="list-group-item" *ngIf="player2.location">Lives in: {{player2.location}}</li>
              <li class="list-group-item" *ngIf="player2.blog">Blog: {{player2.blog}}</li>
              <li class="list-group-item" *ngIf="player2.company">Company: {{player2.company}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>