.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-top: 20px;
}

.example-full-width {
  width: 100%;
}

.button{
  margin-bottom: 4px;
}

.notfound {
  text-align: center;
}

.badge {
  margin-right: 6px;
}

.img-thumbnail {
  border-radius: 50%;
}
